# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDE / Editor
.vscode/
.idea/

# Environment
.env

# Frontend
frontend/*
!frontend/dist/
frontend/dist/index.html
!frontend/dist/assets/

# Database
appointments.db